<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes" >
  <meta name="format-detection" content="telephone=no" >
  <meta name="HandheldFriendly" content="true" >
  <meta name="viewport" content="width = device-width,initial-scale = 1,minimum-scale = 1,maximum-scale = 1,  user-scalable=no" >
  <meta property="og:title" content="#MAVOIX - Générateur de photo de profil" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{#url-server}" />
  <meta property="og:image" content="{#url-server}/img/visuel-facebook.jpg" />
  <meta property="og:description" content="Soutenez #MAVOIX en personnalisant vos profils sur les réseaux sociaux (Facebook, Twitter, etc...)" />
  <meta name="description" content="Soutenez #MAVOIX en personnalisant vos profils sur les réseaux sociaux (Facebook, Twitter, etc...)" />

  <link rel="icon" type="image/png" href="img/icon/favicon.png?v={#version}">
  <link rel="apple-touch-icon" type="image/png" href="img/icon/favicon-apple.png?v={#version}">
  <link rel="icon" sizes="144x144" href="img/icon/favicon-144.png?v={#version}">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <link href="css/bootstrap.min.css?v={#version}" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css?v={#version}" rel="stylesheet">
  <link href="css/font-awesome.min.css?v={#version}" rel="stylesheet">
  <link href="css/toastr.css?v={#version}" rel="stylesheet">
  <link href="css/styles.css?v={#version}" rel="stylesheet">
  <link href="css/mavoix-theme.css?v={#version}" rel="stylesheet">
  <link href="css/croppie.css?v={#version}" rel="stylesheet" />
  {#css}
  <title>#MAVOIX - SupportGenerator</title>
</head><body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8&appId=472477766267017";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{#erreur}
<div class="header">
  <h5><img src="img/MAVOIX.png" class="logo">
    <div>Générateur de photo de profil</div>
  </h5>
</div>
<div class="page">
  <div class="page-content"> {#body} </div>
</div>
<footer>
  <div class="page-content">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>#MAVOIX</h4>
        <ul>
          <li> <a href="http://www.mavoix.info/" target="_blank">Site vitrine</a></li>
          <li><a href="https://forum.mavoix.info/" target="_blank">Le forum</a></li>
          <li><a href="http://wiki.mavoix.info/" target="_blank">Le wiki</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>RESEAUX SOCIAUX</h4>
        <ul>
          <li> <a href="https://www.facebook.com/mavoixjuin2017/" target="_blank">Facebook</a></li>
          <li><a href="https://twitter.com/mavoix2017" target="_blank">Twitter</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>DEVELOPPEURS</h4>
        <ul>
          <li><a href="https://github.com/MaVoix" target="_blank">Github MAVOIX</a></li>
          <li><a href="https://github.com/MaVoix/MaVoixSupportGenerator" target="_blank">Github de ce projet</a></li>
          <li><a href="https://forum.mavoix.info/t/quelquun-sait-comment-generer-des-filtres-mavoix-sur-photo-de-profil-facebook/901/78" target="_blank">Topic de ce projet</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h6>PARTAGEZ CETTE PAGE !</h6>
        <div class="fb-share-button" data-href="{#url-server}" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fmavoix.info%2F&amp;src=sdkpreparse">Partagez</a></div>
      </div>
    </div>
  </div>
</footer>
<script src="js/jquery.min.js?v={#version}"></script>
<script src="js/bootstrap.min.js?v={#version}"></script>
<script src="js/toastr.js?v={#version}"></script>
<script src="js/croppie.js?v={#version}"></script>
<script src="js/lib.js?v={#version}"></script>
{#js}
</body>
</html>
