
<p class="lead">Soutenez <a href="http://www.mavoix.info">#MAVOIX</a> en personnalisant les pages et profils de vos réseaux sociaux.</p>
<div class="row">
  <div class="col-xs-12 text-center">Ce module vous permet de générer et de télécharger des visuels aux couleurs de MAVOIX. <br />
    <h3>N'hésitez pas à essayer ! </h3>
    <p>&nbsp;</p>
    <div class="alert alert-danger text-center"><i class="fa fa-user-secret  fa-lg"></i> &nbsp; Votre photo sera traitée de manière anonyme et nous ne conservons aucun historique.</div>
    <p>&nbsp;</p>
  </div>
  <!--<div class="col-xs-12 col-sm-6"> <img src="img/illustration.jpg" class="illustration"></div>-->
</div>
<div >

  <form action="index.php?page=select" method="post" name="etape1" enctype="multipart/form-data">
      <div class="row">
          <div class="col-xs-12 col-sm-offset-3 col-sm-6">
              <p> Sélectionnez un type de visuel :</p>
              <select name="format" class="form-control jsSelectPreview">
              <option value="">Choisir ...</option>
              {#list}
          </select>
              <div class="divZonePreview">
                  <div class="jsZonePreview"></div>
              </div>
          </div>
          <div class="col-xs-offset-3 col-xs-6">&nbsp;</div>
      </div>


    <p>&nbsp;&nbsp;</p>
      <div class="text-center">
    <button type="submit" class="waiting-submit  btn btn-primary btn-lg">Suite <span class="glyphicon glyphicon-circle-arrow-right"></span></button>
      </div>
    <p>&nbsp;&nbsp;</p>
  </form>
</div>
