<div class="text-center">
  <h3>Voici votre image !</h3>
</div>
<p>&nbsp;</p>
<div class="text-center">
  <h5>Qui me représente le mieux ?</h5>
</div>
<div class="row">
  <div class="col-xs-12 text-center"> <img src="{#outputfile}" alt="" class="imagedownload"/></div>
</div>
<p>&nbsp;</p>
<div > <a href="{#outputfile}" class="btn btn-success" target="_blank" download="{#download-name}" style="display:block;margin:auto;width:150px;"><span class="glyphicon glyphicon glyphicon-download-alt"></span> Télécharger</a> </div>
<p>&nbsp;</p>
<p>Merci d'avoir utilisé cet outil. Nous esperons que vous utiliserez cette photo de profil et que vous soutiendrez #MaVoix.</p>
<div class="text-center">
  <h4>N'hésitez pas à partager ce module sur Facebook :</h4>
  <div class="fb-share-button" data-href="{#url-server}" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fmavoix.info%2F&amp;src=sdkpreparse">Partager</a></div>
</div>
<p>&nbsp;</p>
<a href="index.php?page=etape2" class="pull-left btn btn-default btn-lg"><span class="glyphicon glyphicon-circle-arrow-left"></span></a> <a href="index.php?page=etape1" class="pull-right btn btn-primary btn-lg">Une autre ? <span class="glyphicon glyphicon glyphicon-home"></span></a>
<p>&nbsp;</p>
