<div class="text-center">
    <h4>Personalisation</h4>
    <h3>{#format}</h3>
    <img src="{#thumb}" style="width:100%;max-width:300px;margin:0 auto 40px;border:1px solid #000000;">
</div>
  <form action="index.php?page=send" method="post" name="etape1" enctype="multipart/form-data" autocomplete="off">
   {#form}
    <p>&nbsp;</p>
      <a href="index.php?page=etape1" class="pull-left btn btn-default btn-lg"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>
    <button type="submit" class="waiting-submit pull-right btn btn-primary btn-lg">Suite <span class="glyphicon glyphicon-circle-arrow-right"></span></button>
    <p>&nbsp;</p>
  </form>
</div>
