<!doctype html>
<html>
<head>
<meta charset="utf-8">	
<meta name="apple-mobile-web-app-capable" content="yes" >
<meta name="format-detection" content="telephone=no" >
<meta name="HandheldFriendly" content="true" >
<meta name="viewport" content="width = device-width,initial-scale = 1,minimum-scale = 1,maximum-scale = 1,  user-scalable=no" >
<link rel="icon" type="image/png" href="img/icon/favicon.png?v={#version}">
<link rel="apple-touch-icon" type="image/png" href="img/icon/favicon-apple.png?v={#version}">
<link rel="icon" sizes="144x144" href="img/icon/favicon-144.png?v={#version}">
<link href="css/bootstrap.min.css?v={#version}" rel="stylesheet">
<link href="css/bootstrap-theme.min.css?v={#version}" rel="stylesheet">
<link href="css/font-awesome.min.css?v={#version}" rel="stylesheet">
<link href="css/toastr.css?v={#version}" rel="stylesheet">
<link href="css/styles.css?v={#version}" rel="stylesheet">
<link href="css/mavoix-theme.css?v={#version}" rel="stylesheet">
<link href="css/croppie.css?v={#version}" rel="stylesheet" />
{#css}
<title>#MAVOIX</title>
</head><body>
{#erreur}
{#body} 
<script src="js/jquery.min.js?v={#version}"></script> 
<script src="js/bootstrap.min.js?v={#version}"></script> 
<script src="js/toastr.js?v={#version}"></script> 
<script src="js/croppie.js?v={#version}"></script>
<script src="js/lib.js?v={#version}"></script> 
{#js}
</body>
</html>
