<div class="container">
  <div class="starter-template text-center">
    <h1>OPTIONS</h1>
    <p>&nbsp;</p>
    <div class="appbox"> {#navigation}
      <p>&nbsp;</p>
      <form action="index.php?page=generate" method="post"  enctype="multipart/form-data">
       
        <div>
          <label >Recadrage &amp; Rotation :</label>
        </div>
        <div id="photocrop-src" data-url="{#srcfile}"></div>
        <div style="width:200px;display:block;margin:auto;">
        <div class="actions " style="margin:5px 0 5px 0;">
          <button class="photocrop-rotate btn btn-default" type="button" data-deg="-90" >Rotation <span class="glyphicon glyphicon-repeat"></span></button>
        </div>
        <div id="photocrop"></div>
        <p>&nbsp;</p>
       
    
     <div class="form-group">
          <label for="format">Format de sortie :</label>
          <select id="format" name="format" class="form-control">
            <option value="">Choisir ...</option>
            <option value="facebook-profil">Facebook profil</option>
            <option value="facebook-mur">Facebook Mur</option>
            <option value="affiche">Affiche</option>
            <option value="twitter-profil">Twitter profil</option>
          </select>
        </div>
        <p>&nbsp;</p>
        <a href="index.php?page=etape2" class="pull-left btn btn-default btn-lg"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>
        <button type="submit" class="waiting-submit pull-right btn btn-primary btn-lg">Suite <span class="glyphicon glyphicon-circle-arrow-right"></span></button>
        <p>&nbsp;</p>
        <input type="hidden" id="photocrop-x1" name="photocrop-x1" value="1" >
        <input type="hidden" id="photocrop-y1" name="photocrop-y1" value="1" >
        <input type="hidden" id="photocrop-x2" name="photocrop-x2" value="1" >
        <input type="hidden" id="photocrop-y2" name="photocrop-y2" value="1" >
        <input type="hidden" id="photocrop-zoom" name="photocrop-zoom" value="1" >
         <input type="hidden"id="photocrop-angle" name="photocrop-angle" value="1" >
      </form>
    </div>
    
    
        
        
  </div>
</div>
