<div class="container">
  <div class="starter-template text-center">
    <h1>Téléchargement</h1>
    <p>&nbsp;</p>
    <div class="appbox"> {#navigation}
      <p>&nbsp;</p>
      <div class="row">
        <div class="col-xs-12 text-center">
          <h3>Voici votre image !</h3>
          <img src="{#outputfile}" alt="" class="imagedownload"/></div>
      </div>
      <p>&nbsp;</p>
      <div > <a href="{#outputfile}" class="btn btn-success" download="{#download-name}" style="display:block;margin:auto;width:150px;"><span class="glyphicon glyphicon glyphicon-download-alt"></span> Télécharger</a> </div>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
        <a href="index.php?page=etape2" class="pull-left btn btn-default btn-lg"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>
      <a href="index.php?page=etape1" class="pull-right btn btn-primary btn-lg">Accueil <span class="glyphicon glyphicon glyphicon-home"></span></a>
      <p>&nbsp;</p>
    </div>
  </div>
</div>
