<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="error-template">
        <h1> Oops!</h1>
        <h2> Trop de monde pour le moment ! </h2>
        <div class="error-details"> Désolé, nous ne pouvons pas vous permettre d'utiliser le module actuellement. Revenez tenter votre chance d'ici quelques minutes.</div>
		
        <div class="error-actions"> <a href="index.php" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-repeat"></span> Essayer à nouveau </a></div>
      </div>
    </div>
  </div>
</div>

