  <div class="stepwizard">
    <div class="stepwizard-row">
        <div class="stepwizard-step">
             <a href="{#etape1-href}"  class="btn {#etape1-css}  btn-circle" {#etape1-disabled} >1</a>
            <p>Photo</p>
        </div>
        <div class="stepwizard-step">
             <a href="{#etape2-href}"  class="btn {#etape2-css}  btn-circle" {#etape2-disabled} >2</a>
            <p>Options</p>
        </div>
        <div class="stepwizard-step">
            <a href="{#etape3-href}"  class="btn {#etape3-css}  btn-circle" {#etape3-disabled} >3</a>
            <p>Télécharger</p>
        </div> 
    </div>
</div>