<label for="{#inputname}">{#label}</label>
<div class="input-group image-preview">
    <input type="text" class="form-control image-preview-filename" disabled="disabled">
    <input type="hidden" id="maxfilesize" value="{#maxfilesize}" />
    <span class="input-group-btn">
      <button type="button" class="btn btn-default image-preview-clear" style="display:none;"> <span class="glyphicon glyphicon-remove"></span></button>
      <div class="btn btn-default image-preview-input"> <span class="glyphicon glyphicon-folder-open"></span> <span class="image-preview-input-title">Parcourir</span>
        <input type="file" accept="image/png, image/jpeg, image/gif" name="{#inputname}" id="{#inputname}"/>
      </div>
</span> </div>
<p>&nbsp;</p>